<%- include('partials/header') -%>
<div class="card w-70">
    <div class="card-body">
      <h5 class="card-header"><%= title %></h5>
      <p class="card-text"><%= content %></p>
      <!-- <a href="#" class="btn btn-primary"></a> -->
    </div>
  </div>
<%- include('partials/footer') -%>